body, button {
	font-size: x-large;
}

main, header {
	position: relative;
	top: 8.5em;
}

body {
	background-color: rgb(16, 16, 16);
	color: rgb(233, 233, 233);
	text-align: center;
}

a {
	color: rgb(172, 157, 230);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(238, 151, 162);
}
